# Configuration file

enabled {
    B:"betternether:stalagnate_planks"=true
    B:"biomesoplenty:dirt"=true
    B:"biomesoplenty:planks_0"=true
    B:"biomesoplenty:white_sandstone"=true
    B:"forestry:ash_brick"=true
    B:"forestry:planks.0"=true
    B:"forestry:planks.1"=true
    B:"forestry:planks.fireproof.0"=true
    B:"forestry:planks.fireproof.1"=true
}


enabled_groups {
}


general {
    # Whether or not to enable debug functionality. [default: false]
    B:enableDebugFeatures=false
}


